Package: com.brkr1.tweaks.notescreationdate16
Name: NotesCreationDate16
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Tweak to show when notes were created & modified in Apple's Notes app. Port of NotesCreationDate13 (originally by ludvigeriksson / gilshahar7) for iOS 16, rootless.
Maintainer: brkr1
Author: ludvigeriksson, gilshahar7 (original), brkr1 (iOS 16 port)
Section: Tweaks
Depiction: https://brkr1.github.io/repo/depictions/com.brkr1.tweaks.notescreationdate16/depiction.json
SileoDepiction: https://brkr1.github.io/repo/depictions/com.brkr1.tweaks.notescreationdate16/depiction.json
